docopt
h5py
ipython
km3pipe[full]>=7.3.2
matplotlib>=2.0
mock
numpy
numpydoc
pandas
pillow
pytest
pytest-cov
pytest-flake8
scipy
sphinx-gallery
sphinx-rtd-theme
sphinx
sphinxcontrib-napoleon
sphinxcontrib-programoutput
sphinxcontrib-websupport
tables
twine
