docopt
h5py
ipython
km3pipe[full]>=7.3.2
matplotlib>=2.0
mock
numpy
numpydoc
pandas
pillow
pytest
pytest-cov
pytest-flake8
scipy
sphinx-gallery==0.1.12
sphinx-rtd-theme==0.2.4
sphinx==1.6.3
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-programoutput==0.11
sphinxcontrib-websupport==1.0.1
tables
twine
